@font-face {
    font-family: "Charmer";
    src: url(/z_typeface/Charmer\ TM.otf);
}


body {
    max-width: 100vw;
    max-height: 100vh;
    background-image: url(/z_graphics/Holiday-Website-Collage_v7);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fcf2eb;
}