@font-face {
    font-family: "Charmer";
    src: url(/z_typeface/Charmer\ TM.otf);
}


body {
    max-width: 1920px;
    max-height: 100%;
    background-image: url(/z_graphics/Holiday-Website-Collage_v3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

div {
    max-width: 600px;
    margin: 400px 0px 0px 0px;
    text-align: center;
}

h1 {
    font-family: "Charmer", serif;
    font-size: 5.61rem;
    margin: 0;
    color: #621708;
}

.card-main {
    font-family: "Charmer", serif;
    font-size: 2.369rem;
    line-height: 3rem;
    letter-spacing: 0.10rem;
    margin: 0;
    color: #621708;
}

p {
    font-family: "Charmer", serif;
    font-size: 1.777rem;
    margin: 15px 0px 0px 0px;
    color: #621708;
}