@font-face {
    font-family: "Charmer";
    src: url(/z_typeface/Charmer\ TM.otf);
}


body {
    max-width: 100vw;
    max-height: 100vh;
    background-image: url(/z_graphics/Holiday-Website-Collage_v7);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fcf2eb;
}

@media (max-width: 400px) {
    body {
        max-width: 100%;
        max-height: auto;
        background-image: url(/z_graphics/Holiday-Website-Collage_v7);
        background-repeat: repeat;
        background-size: 110%;
        background-color: #fcf2eb;
    }

}